.brand-container {
  display: flex;
  align-items: center;
}

.logo-image {
  margin-left: 10px; /* Adjust this value to move the image to the left or right */
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  margin-right: 1rem;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ffa500; /* Change this to your preferred color */
}

.navbar-toggler {
  border-color: rgba(255, 165, 0, 0.5); /* Change this to your preferred color */
}
